# dependencies
node_modules/
.pnp
.pnp.js

# npm
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.npm

# Next.js
.next/
out/

# env (secrets)
.env
.env*.local

# build / debug
dist/
build/
*.tsbuildinfo

# OS / editor
.DS_Store
Thumbs.db
*.swp
.idea/
.vscode/

# vercel
.vercel
